<div class="grid fluid container">
  <div class="col-12 md:col-6">
    <form [formGroup]="cityForm" class="flex flex-column w-full">
      <mat-form-field>
        <mat-label>Enter Name</mat-label>
        <input matInput formControlName="name" required placeholder="Insert Name">
        <mat-error *ngIf="checkError('name', 'required')">Field is required</mat-error>
      </mat-form-field>
      <br><br>

      <mat-form-field>
        <mat-label>Enter Country</mat-label>
        <input matInput formControlName="country" required placeholder="Ex. New York">
        <mat-error *ngIf="checkError('name', 'required')">Field is required</mat-error>
      </mat-form-field>
      <br><br>

      <mat-form-field>
        <mat-label>Enter Continent</mat-label>
        <input matInput formControlName="continent" required placeholder="Ex. Europe">
        <mat-error *ngIf="checkError('name', 'required')">Field is required</mat-error>
      </mat-form-field>
      <br><br>

      <button pButton type="button"
              (click)="addCity()"
              label="Insert New City"
              [disabled]="cityForm.invalid"
      >
      </button>
    </form>
  </div>
  <div class="col-12 md:col-6">
    <form [formGroup]="packageForm" class="flex flex-column w-full">
      <mat-form-field>
        <mat-label>Enter Package Name</mat-label>
        <input matInput formControlName="name" required placeholder="Insert Name">
        <mat-error *ngIf="checkError('name', 'required')">Field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter Package Description</mat-label>
        <textarea matInput formControlName="description"
                  placeholder="Ex: Describe a short story for the package" required></textarea>
        <mat-error *ngIf="checkError('description', 'required')">Field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter Image Url</mat-label>
        <textarea matInput formControlName="imageUrl" required
                  placeholder="Ex: https://www.google.com"></textarea>
        <mat-error *ngIf="checkError('imageUrl', 'required')">Field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter package duration</mat-label>
        <input matInput formControlName="duration" required placeholder="Ex: 4" required>
        <mat-error *ngIf="checkError('duration', 'required')">Field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter package price</mat-label>
        <input matInput formControlName="price" required placeholder="Ex: 700.20" required>
        <mat-error *ngIf="checkError('price', 'required')">Field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Is Package Featured?</mat-label>
        <mat-select required formControlName="featured">
          <mat-option value="true">Yes</mat-option>
          <mat-option value="false">No</mat-option>
          <mat-error *ngIf="checkError('featured', 'required')">Field is required</mat-error>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Is Promotional Offer?</mat-label>
        <mat-select required formControlName="promotionalOffer">
          <mat-option value="true">Yes</mat-option>
          <mat-option value="false">No</mat-option>
          <mat-error *ngIf="checkError('promotionalOffer', 'required')">Field is required</mat-error>
        </mat-select>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Enter Promotional Offer Price</mat-label>
        <input matInput formControlName="promotionalOfferPrice" placeholder="Ex: 700.20"
               required>
        <mat-error *ngIf="checkError('promotionalOfferPrice', 'required')">Field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select City</mat-label>
        <mat-select required formControlName="cityId">
          <mat-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</mat-option>
          <mat-error *ngIf="checkError('cityId', 'required')">Field is required</mat-error>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Is Package Active?</mat-label>
        <mat-select required formControlName="active">
          <mat-option value="true">Yes</mat-option>
          <mat-option value="false">No</mat-option>
          <mat-error *ngIf="checkError('active', 'required')">Field is required</mat-error>
        </mat-select>
      </mat-form-field>

      <button pButton type="button"
              (click)="addPackage()"
              label="Insert New Package"
              [disabled]="packageForm.invalid"
      >
      </button>
    </form>
  </div>
</div>


