
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  margin-right: 30px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

mat-form-field, button{
  width: 100%;
  margin-right: 300px;
}

h2 {
  margin-left: 230px;
}

.page {
  margin-bottom: 650px;
  height: 3%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

mat-form-field {
  height: 35px;
  margin-bottom: 25px;
}



