<form class="example-container" [formGroup]="options" [style.fontSize.px]="getFontSize()">
  <div class="wrapper">
    <div class="example-container">
      <mat-form-field hintLabel="Max 10 characters" appearance="fill">
        <mat-label>Enter Name</mat-label>
        <input matInput #input maxlength="10" [formControl]="name" required placeholder="Ex. Nougat">
        <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
        <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field hintLabel="Max 10 characters" appearance="fill">
        <mat-label>Enter Surname</mat-label>
        <input matInput #input maxlength="10" [formControl]="surname" required placeholder="Ex. Nougat">
        <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
        <mat-error *ngIf="name.invalid">{{getSurnameErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field hintLabel="Max 10 characters" appearance="fill">
        <mat-label>Enter Contact Number</mat-label>
        <input matInput #input maxlength="10" [formControl]="contactNumber" required placeholder="Ex. Nougat">
        <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
        <mat-error *ngIf="contactNumber.invalid">{{getContactNumberErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Amount</mat-label>
        <input matInput class="example-right-align" placeholder="0">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>

      <mat-form-field appearance="fill" [color]="colorControl.value">
        <mat-label>Number of adults</mat-label>
        <mat-select [formControl]="adults" required>
          <mat-option value="one">1</mat-option>
          <mat-option value="two">2</mat-option>
          <mat-option value="three">3</mat-option>
        </mat-select>
        <mat-error *ngIf="adults.invalid">{{getAdultsErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" [color]="colorControl.value">
        <mat-label>Number of children</mat-label>
        <mat-select [formControl]="children" required>
          <mat-option value="zero">0</mat-option>
          <mat-option value="one">1</mat-option>
          <mat-option value="two">2</mat-option>
          <mat-option value="three">3</mat-option>
        </mat-select>
        <mat-error *ngIf="children.invalid">{{getChildrenErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose a starting date</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="date" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="date.invalid">{{getDateErrorMessage()}}</mat-error>
      </mat-form-field>

      <button pButton type="button" label="Submit"></button>

    </div>
  </div>
</form>
