<div class="container">
  <form>
    <label for="fullName">Full Name</label>
    <input type="text" id="fullName" name="fullName" placeholder="Your full name..">

    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="Your email..">
    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>

  <div class="mapouter">
    <div class="gmap_canvas">
      <iframe width="700" height="500" id="gmap_canvas"
              src="https://maps.google.com/maps?q=papa%20gjon%20pali&t=k&z=13&ie=UTF8&iwloc=&output=embed"
              [frameBorder]="0"
              [scrolling]="0" [marginHeight]="0" [marginWidth]="0"></iframe>
      <a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/">
        divi discount</a><br>
      <a href="https://www.embedgooglemap.net">
        custom google maps embed</a>
      <style>
        .gmap_canvas {
          overflow: hidden;
          background: none !important;
          height: 400px;
          width: 600px;
          position: absolute;
          left: 780px;
          top: 170px;
        }
      </style>
    </div>
  </div>

</div>
