<div class="container">
  <div class="text-center">
    <h2 class="section-heading text-uppercase">Rreth nesh</h2>
    <h3 class="section-subheading text-muted">Ne jemi Shpirti i Udhëtimit!</h3>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-image"><h4>
        <br>
        12/06/2022
      </h4></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>Kush Jemi?</h4>
          <h4 class="subheading"></h4>
        </div>
        <div class="timeline-body"><p class="text-muted">Kompania jonë ju mundëson të vizitoni çdo bukuri të Shqipërisë si zona arkeologjike, kështjella, alpe, bregdet e shumë të tjera. Turet që ne organizojmë do t'ju çojnë jo vetëm në Shqipëri, por edhe në shumë atraksione turistike në mbarë botën.</p></div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-image"><h4>
        <br>
        18/09/2021
      </h4></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>Misioni Jonë!</h4>
        </div>
        <div class="timeline-body"><p class="text-muted">Misioni ynë është t'u shërbejmë klientëve tanë me përkushtim dhe përgjegjësi në turne me cilësi të lartë. Kjo është arsyeja pse ne u rritëm vit pas viti, duke na shndërruar në një nga operatorët turistikë lider në tregun turistik.</p></div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-image">
        <h4>
          Bëhu pjesë
          <br>
          e historisë
          <br>
          sonë!
        </h4>
      </div>
    </li>
  </ul>
</div>

