<div class="grid fluid container">
  <div class="text-4xl text-center w-full py-6">Paketat në promocion</div>
  <div class="col-12 text-center">
    <p-progressSpinner *ngIf="loader"></p-progressSpinner>
  </div>
  <div class="col-4" *ngFor="let package of packages">
    <p-card class="text-4xl text-center w-full py-6" [header]=package.name
            styleClass="p-card-shadow">
      <ng-template pTemplate="header">
        <img alt="Card" [style]="{'height':'200px'}" [src]="package.imageUrl | safeHtml">
      </ng-template>
      <h2 class="mb-1"><b>{{package.duration}} ditë për vetëm <span
        style="color: green">{{package.promotionalOfferPrice}}
        Lekë</span></b></h2>
      <p style="text-decoration: line-through; color: red; text-align: center">{{package.price}} Lekë</p>
      <p-scrollTop></p-scrollTop>
      <p-scrollPanel [style]="{width: '100%', height: '144px'}">
        <p style="text-align: left">
          {{package.description}}
        </p>
        <p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="100"
                     icon="pi pi-arrow-up"></p-scrollTop>
      </p-scrollPanel>

      <ng-template pTemplate="footer">
        <div class="center">
          <p-button label="Book Now" icon="pi pi-book" routerLink="/booking/{{package.id}}"></p-button>
        </div>
      </ng-template>

    </p-card>
  </div>
</div>

